<div id="drawer-right" >
	<div class="cross text-right">
		<a class="move1" href="#"><i class="fa fa-times-circle fa-2x"></i></a>
	</div>

			<nav>
				<ul class="nav nav-pills nav-stacked">
					<li>
						<a href="/#intro">HOME</a>
					</li>
					<li>
						<a href="/products/show">OUR PRODUCTS</a>
					</li>
					<li>
						<a href="/orders/new">MAKE YOUR QUOTATION</a>
					</li>
					<li>
						<a href="/#third">ABOUT US</a>
					</li>
					<li>
						<a href="/#fourth">BAKERIES</a>
					</li>
				</ul>
			</nav>


			<div class="social">
				<ul>
					<li><a href=""><i class="fa fa-facebook-square fa-3x"></i></a></li>
          <li><a href=""><i class="fa fa-youtube-square fa-3x"></i></a></li>
          <li><a href=""><i class="fa fa-instagram fa-3x"></i></a></li>
					<li><a href=""><i class="fa fa-twitter-square fa-3x"></i></a></li>
				</ul>
			</div>
		</div>
