<%= render "layouts/header" %>
<%= render "home/drawer" %>
<!-- modal -->
	<div id="imageModal" class="modal fade modal-style" role="dialog ">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">

					</div>
				</div>
		</div>
<!--  modal-->

<!-- modal passwords_resets-->
	<div id="imageModal1" class="modal fade modal-style" role="dialog ">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">

					</div>
				</div>
		</div>
<!--  modal passwords_resets-->
<div class="container-fluid  ">
  <div class="row order-background" >
    <div class=" col-lg-12">
      <div class="quotation-form">

          <div class="quotation-submited">
          <p>Your quotation has been submitted.</p>
            <p>Soon we will contact you. </p>
            <p>Sugar Market Team</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<%= render "layouts/footer" %>
