<div class="container-fluid form-template">
  <div class="row close-button">
    <button  class="fa fa-times-circle fa-2x pull-right" data-dismiss="modal"></button>
    <div class="col-md-12 hr-modal">
      <hr>
    </div>
    <div class="sessions  col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-4 col-lg-5 col-lg-offset-4">

      <h1>Forgot password</h1>
        <div class="form-group">
          <%= form_for(:password_reset, url: passwords_resets_path) do |f| %>
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
            <div class="action-items">
              <br>
              <%= f.submit "Submit", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
    <hr class="hr-modal-botton">
</div>
