/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@charset "utf-8";


@font-face {
 font-family: 'Quicksand';
 font-style: normal;
}

p, ul{
  font-family: 'Quicksand' ;

}

body{
  background-color: white;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

button, button:hover, button:focus, button:active{
  outline: none;
}

////////////////////modal//////////////////////////
.picture-modal{
  width: 300px;
}

.modal-content{
  max-height: 80vh;
}

.img-modal h3{
  color: #f16169;
}


///////////////////footther///////////////////////
.footer{
  text-align: center;
  background-color: black;
  height: 50px;
  margin-left: -20px;
  margin-right: -20px;
  padding: 15px;
}

.footer p{
  color: white;
}
