// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .simple_form {
//   color: black !important;
// }
.modal-header, .modal-body { color: black }

.btn-primary {
  color: #f65a53;
  background-color: white;
  border-color: #f65a53
}

.order-background {
  background-image: url(asset-path("bg-quotation.jpg"));
  height: 96vh;
  background-size: cover;
}

.menu-order {
  background-color: rgba(246, 90, 83, 0.50);
  margin-top: 20vh;
  padding-top: 15px;
  color: white !important;
  z-index: 600;
}

.order-form {
  background-color: rgba(246, 90, 83, 0.50);
  margin-top: 2vh;
  margin-right: -15px;
  margin-left: -15px;
  padding: 2%;
  color: white !important;
  text-align: center;
  font-family: 'Quicksand';
  font-size: 1.5em;
}

.order-form2 {
  background-color: rgba(246, 90, 83, 0.50);
  margin-top: 2vh;
  margin-right: -15px;
  margin-left: -15px;
  padding: 2%;
  color: white !important;
  text-align: center;
  font-family: 'Quicksand';
  font-size: 1.5em!important;
  height: 54vh;
}

.menu-order a { color: white !important }

#event_event_date,
#event_delivery_date {
  width: 155px !important;
  position: relative;
  border-radius: 5px;
  color: #f65a53;
  height: 30px;
}

#event_number_people{
  width: 50px;
  border-radius: 5px;
  color: #f65a53;
}


#event_type_of,
#order_store {
  width: 120px;
  border-radius: 5px;
  color: #f65a53;
  height: 30px;
}

.simple_form { color: white !important }

.order-custumer {
  color: #f65a53;
  line-height: 10%;
  font-size: 1.5em;
}

.order-button2 { margin-top: 2vh }

.order-but { width: 100vh; font-size: 1.15em!important }

@media (min-width: 720px){
}

@media (min-width: 970px){
}

@media (min-width: 1180px){
  .order-form       { font-size: 1.25em; padding: 4% }
  .order-background { height: 92vh }
  .submit-order     { margin-top: 23vh!important }
}
