// Place all the styles related to the passwords_resets_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form input[type=submit] {
  color: #f65a53;
  background-color: rgba(255, 255, 255, 0);
  background-image: none;
  font-size: 0.5em;
  font-weight: normal;
  border: solid 1px #f65a53;
  width:100px;
  text-decoration: none;
  text-shadow: none;
}

form input[type=submit]{
  background-image: none;
  background-color: white;
}

a.button:not(.disabled):hover,
a:link.button:not(.disabled):hover,
a:visited.button:not(.disabled):hover,
input[type=submit]:not(.disabled):hover,
input[type=button]:not(.disabled):hover,
button:not(.disabled):hover{
  color: #f65a53;
  background-color: white !important;
  background-image: white !important;
  border-color: #f65a53;
  font-size: 0.75em;
  font-weight: normal;
}


form input[type=submit]:not(.disabled):hover,
form input[type=button]:not(.disabled):hover,
form button:not(.disabled):hover{
  background-color: white !important;
  background-image: none !important;
  border-color: #f65a53;
  font-size: 0.5em;
  font-weight: normal;
}

.password-email{
  display: none;
  color: #f16169;
}

.password{
  color: #f16169;
}
