@charset "utf-8";

a{
  color: white ;
}

p{
  margin: 0 0 20px 0;
}

p, ul{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size-adjust:0.488;
  font-weight:200;
  font-style:normal;
}

img{
  border: 0;
  width: 100%;
}

h1, #pixels{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size-adjust:0.40;
  font-weight:700;
    font-style:normal;
}

h2{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size-adjust:0.531;
  font-weight:500;
  font-style:normal;
}

#header h1, #pixels{
  color: #48941A;
}

.float-left{
  float: left;
  margin: 0 0 0 20px;
}

.float-right{
  float: right;
  margin: 0 20px 0 0;
}

.center{
  font-size: 2.5em;
  padding: 80px 0 0 0;
  text-align: center;
}

#nav{
  list-style: none;
  position: fixed;
  width: 100%;
  z-index: 500;
}

#nav .top.solid {
  background: #f16169;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 70px;
  display: none;
  z-index: 500;
}

#nav .top.solid .toggleDrawer i {
  padding-top: 8px;

}

#nav .top {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px;
  height: auto;
  z-index: 500;
  transition: all .5s;
}

#nav li{
  margin: 0 0 15px 0;
}

#nav a{
  color: white;

}

#nav a:hover{
  color: #f05d66;
}

#nav .top.solid a:hover{
  color: white;
}

.Logo-small{
  display: none;
  width: 70%;
}

.logIn{
  margin-right: 15px;
  color: white;
  font-size: 1.35em;
}

.logIn a{
  text-decoration: none !important;
}

#header, #intro, #second{
  width: 100%;
}

/////////////// home////////////////////

#intro{
  background: image-url('hero-top.png') 50% 0 no-repeat fixed;
  background-size: cover;
  color: white;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

#intro .slogan {
  font-size: 2.25em;
  margin-bottom: 15px;
  margin-top: 18vh;
  line-height: 1em;
  font-family: 'Quicksand';
  color: white;
  border: 6px solid rgba(255, 255, 255, 0.7);
  width: 50%;
  margin-left: 25%;
  padding: 40px;
}

#intro .secondary-slogan {
  font-size: 1.2em;
  color: rgba(255,255,255,.7);
  line-height: 1em;
  font-family: 'Alegreya SC';
}

#intro .top.solid {
  background: #f16169;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 85px;
}

#intro .top.solid .toggleDrawer i {
  padding-top: 8px;
}


#second{
  background-size: cover;
  color: white;
  height: 115vh;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.list-order{
  height: 30vh;
}

#third{
  background: image-url('store.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
  color: black;
  height: 70vh;
  width: 100%;
  overflow: hidden;
  padding-top: 15vh;
}

#third .about-us{
  padding: 6%;
  color: black;
}

#third .about-us h2{
  font-family: 'Alegreya Sans' !important;
  text-align: center;
  color: black;
}

#forth{
  background-size: cover;
  color: white;
  height: 46vh;
  width: 100%;
  overflow: hidden;
  padding-top: 3%;
}

iframe {
margin: 40px;
width: 250px;
}

.content-store{
  height: 220px;
  width: 240px;
  margin-top: 40px;
  margin-left: 25px;
  font-size: 1.25em;
  font-family: 'Quicksand';
  color: white;
  border: 4px solid rgba(255, 255, 255, 0.7);
  padding: 15px;
  text-align: center;
  z-index: 300;
}

.content-store h4{
  color: white;
  font-family: 'Quicksand';
}


#fifth{
  background: image-url('blue_mac2.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
  color: white;
  height: 26vh;
  width: 100%;
  overflow: hidden;
  padding-top: 3%;
}

.story3{
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  margin: 0 auto;
  width: 100%;
  overflow: auto;
}

.story5{
  color: white;
  margin: 0 auto;
  width: 100%;
  overflow: auto;
}


//////////////burger menu  ////////////////////////

#drawer-right {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  margin-right: -300px ;
  background: white;
  width: 300px;
  padding: 20px;
  z-index: 999;
  transition: all .5s;
  text-decoration: none;
}

#drawer-right .nav-pills>li>a {
	font-size: 18px;
	border-radius: 0;
  color: #f16169;
  text-align: center;
  text-decoration: none;
}

#drawer-right .phone{
  position: fixed;
  margin-left: 5%;
  margin-top: 20px;
}
#drawer-right .phone p{
  position: relative;
  float: right;
  padding-left: 12px;
  padding-top: 4px;
  font-size: 1.2em;
}

#drawer-right .social{margin-top: 50px}
#drawer-right .social ul {
  list-style: none;
  padding-left: 25px;
}
#drawer-right .social ul > li {
  display: inline-block;
  margin: 3%;
}
#drawer-right .social ul > li > a:hover{
	color: white;
}
#drawer-right .fa{
  color: #f16169;
}

.nav> li> a:focus, .nav>li>a:hover{
  text-decoration: none;
  background-color: rgba(241, 97, 105, 0.17);
}


////////////////second///////////////

.feature {
  background-color: #ffffff;
  margin-bottom: 2%;
  padding: 30px;
  position: relative;
  height: 350px;
  z-index: 1;
}

@media (min-width: 768px){
    .col-sm-3{
  float: left;
  width: 25%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: white !important;
  height: 30vh;
  margin: 15px;
  }
}

.recent-work {
  width: 50%;
  background: #FFFFFF;
  display: block;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 30px;
  z-index: 1;
  background-color: white !important;
}

.main-img{
  width: 50%;
  height: 30vh;
}

.description{
  margin-right: 0px;
  margin-left: 50px;
  margin-top: 21px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
}


/////////////// FORMS //////////////////////

.form-template{
  background-color: white;
  padding: 20px;
}

textarea.form-control {
  height: auto;
  width: 78%;
}

.form-tags{
  width: 200px;
}

////////////////////PRODUCT SHOW//////////////

.product-background{
  background-image: url(asset-path("bg-prodicts.jpg"));
  overflow: hidden;
  background-size: cover;
}


.gallery{
  margin-top: 30vh;
  overflow: scroll;
  height: 65vh;
  display: inline-block;
}

.gallery-thumb{
  height: 215px;
  width: 215px;
  color: black;
  z-index: 100;
  background-color: white;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  display: inline-flex;
  border: 1px solid rgba(241, 97, 105, 0.49);
  opacity: 0;
  transition: opacity 2s ease;

  &.fade-in {
    opacity: 1;
  }
}

.recent-work {
  width: 100%;
  // padding-bottom: 39%;
  background: #FFFFFF;
  // display: table;
  text-align: center;
  vertical-align: middle;
  padding-top: 50%;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-bottom: 0px;
}

.recent-work span{
	margin-top: 15px;
	opacity: 0;
	position: relative;
	z-index: 1;
}

.recent-work .prod-hover-desc{
  margin-top: -68px;
  opacity: 0;
  text-align: left;
  margin-left: 5%;
  position: relative;
  z-index: 1;
  color: #f16169;
  font-family: 'Quicksand';
  font-weight: bold;
  font-size: 1.25em;
}

.prod-hover-desc .fa{
  color: #f16169;
}

.recent-work:before {
  background: rgba(255, 255, 255, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  opacity: 0;
  // -o-transition: all .2s;
	-ms-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	transition: all .2s;
}

.recent-work:hover {
  background-size: 200%;
  background-position: center;
  text-decoration: none;
}

.recent-work:hover:before, .recent-work:hover span{
  opacity: 1;
}

.recent-work:hover:before, .recent-work:hover .prod-hover-desc{
  opacity: 1;
  text-decoration: none;
}

////////////////////////////////search/////////////

#product-form {
  color: black;
}

#flavours{
  display: none;
}

#types{
  display: none;
}

.search-products{
  color: black;
}

////////////////////modal//////////////////////////
.picture-modal{
  width: 300px;
}

.modal-content{
  max-height: 80vh;
}

.img-modal h3{
  color: #f16169;
}


///////////////////footther///////////////////////
.footer{
  text-align: center;
  color: white;
  background-color: black;
  height: 50px;
  margin-left: -20px;
  margin-right: -20px;
  padding: 15px;
}
