
#production_quantity{
  width: 100px;
  border-radius: 5px;
  color: #f65a53;
  height: 30px;
}

#products{
  width: 140px;
  color: #f65a53;
  height: 30px;
}
.text-production{
  color: white;
}

.products-form{
  margin-bottom: 15px;
  margin-top: 3vh;
  font-family: 'Quicksand';
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.7);
  width: 50%;
  margin-left: 25%;
  padding: 40px;
  height: 29vh;
  z-index: 100
}

.products-order{
  margin-top: 10px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  margin-right: 10px;
  padding: 10px;
  height: 5vh;
  z-index: 999;
}

.submit-order{
  border-radius: 50px;
  margin-top: 19vh;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100
}

.submit-order:hover{
  background-color: white;
  border-color: #f65a53;
  color: #f65a53;
}

.form-submit-order{
  position: absolute;
  height: 0vh;
  margin-top: 0vh;
}

.delete{
  color: white !important;
  margin-left: 10px;
  font-size: 0.50em
}

.quotation-form{
  background-color: rgba(246, 90, 83, 0.50);
  margin-top: 2vh;
  margin-right: -15px;
  margin-left: -15px;
  padding: 2%;
  color: white !important;
  text-align: center;
  margin-top: 24vh;

}

.quotation-submited{
  font-size: 2.5em;
  margin-bottom: 15px;
  margin-top: 2vh;
  line-height: 1em;
  color: white;
  border: 6px solid rgba(255, 255, 255, 0.7);
  width: 50%;
  margin-left: 25%;
  padding: 40px;
  color: white !important;
}
