.menu{
  color: white;
  background-color: rgba(158, 158, 158, 0.24);
  margin-bottom: 20px;
  padding-top: 10px;
  height: 4vh;
  margin-top: 19vh;
  position: fixed;
  z-index: 502;
}
  .menu a{
    color: white !important;
    }

.pull-right a{
  text-decoration: none !important;
  color: white;

}

.search{
  background-color: rgba(241, 97, 105, 0.52);
  width: 100%;
  height: 4vh;
  padding-top: 5px;
  color: #f16169;
  position: fixed;
  margin-top: 25vh;
  z-index: 100;
}

.search-text{
  color: white;
}

.search-button{
  background-color: white !important;
}

.search-button a:hover{
  background-color: rgba(241, 97, 105, 0.17) !important;
}
