// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sessions{
  background-color: white !important;
  color: #f16169;
  // font-size: 1.25em;
}

.sessions a, a:link, a:visited, h2, input{
  text-decoration: none;
  color: #f16169;
  // font-size: 0.75em
}

.sessions p{
  color: #f16169;
  font-size: 1.45em
}

.back-cust{
margin-right: 40px;
font-weight: bold;
}
