// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sessions{
  background-color: white !important;
  color: #f16169;
}

.sessions a, a:link, a:visited, h2, input{
  text-decoration: none;
  color: #f16169;
}

.sessions p{
  color: #f16169;
  font-size: 1.45em
}

.sessions input{
  width: 100% !important;
}


.close-button{
margin-right: 2%;

}

.hr-modal {
    margin-left: -20px;
    margin-top: -1vh;
    width: 628px;
 }

.hr-modal-botton{
  margin-left: -20px;
  width: 598px;
}

.close-button button {
  border: none;
  text-decoration: none;
  width: 0px;
  border-radius: inherit;
  box-shadow: none !important;
  outline: none;
  background-color: none !important;
  background-image: none !important;
}

.close-button button:hover {
  border: none;
  text-decoration: none;
  font-size: 2em;
  width: 0px;
  border-radius: inherit;
  box-shadow: none;
  outline: none;
  background-color: none !important;
  background-image: none;
}
