<div class="col gallery-thumb" id="<%= dom_id(p) %>" >
  <a href="#" class="recent-work" style="background-image:url(<%=  p.image %>)">
    <p class="prod-hover-desc"><%= p.title %><br></p>
        <!-- <i class="fa fa-star fa-1x"></i> -->
      <!-- <i class="fa fa-star fa-1x"></i>
      <i class="fa fa-star fa-1x"></i>
      <i class="fa fa-star fa-1x"></i></p> -->
      <span  href="/products/<%= p.id %>/show_image_details" class="btn btn-o-white" data-toggle="modal" data-target="#imageModal">See More</span>
  </a>
</div>
