
<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"> -->
<%= render "layouts/header" %>

<div id="drawer-right" >
	<div class="cross text-right">
		<a class="move1" href="#"><i class="fa fa-times-circle fa-2x"></i></a>
	</div>

			<nav>
				<ul class="nav nav-pills nav-stacked">
					<li>
						<a href="#intro">HOME</a>
					</li>
					<li>
						<a href="#second">OUR PRODUCTS</a>
					</li>
					<li>
						<a href="#third">ORDERING</a>
					</li>
					<li>
						<a href="#fourth">ABOUT US</a>
					</li>
				</ul>
			</nav>

      <div class="phone">
				<a href=""><i class="fa fa-phone-square fa-2x"></i></a>
				<p>778 990 6667</p>
			</div>

			<br>

			<div class="social">
				<ul>
					<li><a href=""><i class="fa fa-facebook-square fa-3x"></i></a></li>
          <li><a href=""><i class="fa fa-youtube-square fa-3x"></i></a></li>
          <li><a href=""><i class="fa fa-instagram-square fa-3x"></i></a></li>
					<li><a href=""><i class="fa fa-twitter-square fa-3x"></i></a></li>
				</ul>
			</div>
		</div>

		<div id="intro">
		   <div class="story">
				 <section class="center">
					 <div class="slogan">
						 WHAT'S YOUR <br> SUGAR CRAVING <br> TODAY?
					 </div>
					 <div class="secondary-slogan">
						 Sugar Market Bakery has it for you!
					 </div>
				 </section>
			 </div>
		</div>
		
		<div id="second">
		   <div class="story">
				 <div class="container">
		 					<header class="block-heading cleafix">
		 						<!--a href="#" class="btn btn-o btn-lg pull-right">View All</a-->
		 					</header>
		 					<section class="block-body">
		 						<div class="row">
		 							<div class="col-sm-12">
		 								<!--a href="#" class="recent-work" style="background-image:url(assets/images/rain_1-320x240.jpg)"</a>-->
										<div class="feature">

											<div class="tooltips">
												<div id="tooltip">
													<a href="" data-tooltip="Fresh organic Goosberries"><i class="fa fa-plus-circle fa-3x"></i></a>
												</div>

												<div id="tooltip2">
												  <a href="" data-tooltip="Gluten-free waffle dough  Ingredients: Rice flour"><i class="fa fa-plus-circle fa-3x"></i></a>
												</div>

												<div id="tooltip3">
													<a href="" data-tooltip="Goosberry Jam"><i class="fa fa-plus-circle fa-3x"></i></a>
												</div>
										</div>

										<div class="arrows-slider">
											<i class="fa fa-arrow-circle-o-left fa-5x"></i>
											<i class="fa fa-arrow-circle-o-right fa-5x"></i>
										</div>

										<div class="col-sm-5">
										<!-- <img src="assets/images/pancake.png"> -->
										</div>
										<div class="col-sm-6">
											<div class="prod-description">
												<p class="product-title"><b>Goosberry</b> Waffles<br>
												<span><i class="fa fa-star fa-1x"></i>
												<i class="fa fa-star fa-1x"></i>
												<i class="fa fa-star fa-1x"></i>
												<i class="fa fa-star fa-1x"></i>
												</span></p>
												<p>
												Heavenly made waffles, swrilled with home-made goosberries jam. Each enhanced with our own unique flavours and baked to perfection.
												</p>
											</div>
										</div>
		 							</div>
		 						</div>
		 					</div>

							<div class="row">
								<div class="col-sm-3">
									<a href="#" class="recent-work" style="background-image:url(assets/images/redvelvet.png)">
									<p class="prod-hover-desc">Red Velvet Cake<br><i class="fa fa-star fa-1x"></i>
									<i class="fa fa-star fa-1x"></i>
									<i class="fa fa-star fa-1x"></i>
									<i class="fa fa-star fa-1x"></i></p>
									<span class="btn btn-o-white">See More</span>
									</a>
								</div>

								<div class="col-sm-3">
									<a href="#" class="recent-work" style="background-image:url(assets/images/raspberry-tarte.png)">
									<p class="prod-hover-desc">Raspberry Cocoa Tart<br><i class="fa fa-star fa-1x"></i>
									<i class="fa fa-star fa-1x"></i>
									<i class="fa fa-star fa-1x"></i>
									</p>
									<span class="btn btn-o-white">See More</span>
									</a>
								</div>

								<div class="col-sm-3">
									<a href="#" class="recent-work" style="background-image:url(assets/images/cupcake111.png)"><p class="prod-hover-desc">Coconut Whipping Cupcake<br><i class="fa fa-star fa-1x"></i>
									<i class="fa fa-star fa-1x"></i>
									<i class="fa fa-star fa-1x"></i>
									<i class="fa fa-star fa-1x"></i></p>
									<span class="btn btn-o-white">See More</span>
									</a>
								</div>

								<div class="col-sm-3">
									<a href="#" class="recent-work" style="background-image:url(assets/images/chocolatechipcookie.png)">
									<p class="prod-hover-desc">Cocoa Chip Cookie<br><i class="fa fa-star fa-1x"></i>
									<i class="fa fa-star fa-1x"></i>
									<i class="fa fa-star fa-1x"></i>
									<i class="fa fa-star fa-1x"></i></p>
									<span class="btn btn-o-white">See More</span>
									</a>
								</div>
							</div>
		 				</section>
		 			</div>

		      <section class="bottom2">
		 						  <!-- <img src="assets/images/arrow_down.png"> -->
		 			</section>

		 	</div>
   </div>
</div>

<div id="third">
   <div class="story3">
      <div class="float-left">
				<div class="about-us">

					<h2/>HAVE A LOOK AT OUR BEAUTIFUL BAKERY<h2/>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac pretium lectus. Sed suscipit rutrum ligula, quis commodo arcu ultricies accumsan. Sed id libero est. Vivamus et semper odio. Suspendisse vel semper eros.
					Etiam bibendum in mi rhoncus egestas. Quisque volutpat magna quis nibh condimentum lacinia. Quisque venenatis tortor a pretium rutrum. Etiam elementum porta lorem sodales malesuada. Phasellus eu sapien posuere, sagittis nisi eu, efficitur velit. Donec varius, urna id interdum blandit, tellus ipsum tristique lectus, at blandit lectus lectus eu libero. Donec interdum velit sit amet rhoncus feugiat.
					Suspendisse et tortor odio. Duis sed diam tincidunt, eleifend tortor sed, aliquet magna. Aliquam semper nibh a lectus posuere, vel bibendum ante tempus. Curabitur rhoncus lobortis est bibendum congue.
					Proin rutrum orci metus, eu fringilla lacus dictum non. Morbi lorem nunc, tincidunt condimentum consectetur eget, consequat egestas massa. Cras placerat consectetur justo ac aliquet.
					Nulla tempor eu erat dignissim lobortis. Interdum et malesuada fames ac ante ipsum primis in faucibus</p>

				</div>
      </div>
   </div>
</div>

<div id="fourth">
   <div class="story4">
		 <div class="content-block " >
			 <div class="container text-center">
				 <h1><i>"Life is short, eat dessert first"</i></h1>
			 </div>
		 </div>
   </div>
</div>
