<div class="modal-back">

<div class="modal-header img-modal">
  <h3 class="modal-title "><%= @product.title %></h3>
  <p>Calories: <%= @product.calories %></p>
</div>
<div class="modal-body col-md-12 ">
  <div class="picture-modal col-md-6">
    <%= image_tag @product.image.url(:large) if @product.image.present? %>
  </div>
    <div class = "field form-group col-md-5">
      <p><%= @product.description %></p>
    </div>
  <% if flash[:modal] %>
  <script type="text/javascript">
  $("#imageModal").modal()
  </script>
  <% end %>
</div>
<div class="modal-footer">
  <hr>
  <button type="button" class="btn-primary" data-dismiss="modal">Close</button>
</div>

</div>
