<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sugar Market</title>
  </head>
  <body>
    <nav id="nav">
      <section class="top">
        <div class="" style="text-align: center; color: white; font-size: 1em">
        </div>

        <div class="pull-left">
          <%= link_to image_tag("Logo.png", :class => "Logo"), root_path	%>
          <%= link_to image_tag("Logo-small.png", :class => "Logo-small"), root_path %>
        </div>

        <div class="pull-right">
          <a class="move" href="#">
            <i class="fa fa-bars fa-2x"></i>
          </a>
        </div>

        <div class="logIn pull-right">
          <% if customer_signed_in? %>
        Hello,  <%= link_to current_customer.full_name, customer_path(current_customer.id),{ 'data-toggle' => 'modal', 'data-target' =>'#imageModal'} %>
          <% elsif %>
          <b><i><%= link_to 'Sign In', new_session_path,{ 'data-toggle' => 'modal', 'data-target' =>'#imageModal'} %></i></b>
            <% end  %>
        </div>
        <div class="alert col-lg-12" style="text-align: center, color: white">
          <h1><%#= notice || alert  %></h1>
        </div>
      </section>
    </nav>
