<!DOCTYPE html>
<html>
  <head>
    <title>SugarMarket</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    @import url('//fonts.googleapis.com/css?family=Quicksand');
    @import url('//fonts.googleapis.com/css?family=Alegreya+Sans|Open+Sans+Condensed:300');


  </head>


  <body>
    <%= yield %>

  </body>
</html>
