<!DOCTYPE html>
<html>
  <head>
    <title>SugarMarket</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="//fonts.googleapis.com/css?family=Alegreya+Sans|Open+Sans|Quicksand" rel="stylesheet">

  </head>


  <body>
    <%= yield %>

  </body>
</html>
